<nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
  <div class="container">
    <%= link_to 'TechTalk', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link bi bi-pencil-square" href="#"> Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bi bi-bell" href="#"> Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bi bi-list" href="#"> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bi bi-person" href="#"> Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bi bi-box-arrow-left" href="#"> Log Out</a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to ' Sign Up', new_user_registration_path, class: "nav-link bi bi-check-lg" %>
          </li>          
          <li class="nav-item">
            <%= link_to ' Sign In', new_user_session_path, class: "nav-link bi bi-box-arrow-in-right" %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light bi bi-search" type="submit"></button>
      </form>
    </div>
  </div>
</nav>